<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/css/login.css">
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="" method="post">
                <div class="datos-generales">
                    <div class="nombres">
                        <input type="text" name="nombres" id="name">
                    </div>
                    <div>
                        <input type="text" name="apellidos" id="lastname">
                    </div>
                    <div class="speciales">
                        <div class="CURP">
                            <input type="text" name="curp" id="curp">
                        </div>
                        <div class="RFC">
                            <input type="text" name="rfc" id="rfc">
                        </div>
                    </div>
                </div>                
            </form>            
        </div>
    </div>    
</body>
</html>